---
title: Index
---
div class="container"
	div class="row"
		div class="col-sm-9"
			section class="services"
				p class="md"
					| Компания &laquo;Данмакс&raquo; была создана в&nbsp;феврале 2013 года специалистами, имеющими 10&nbsp;летний опыт работы в&nbsp;сфере организации путешествий.
					br
					| Приобретенный опыт, а&nbsp;так&nbsp;же безусловная компетенция сотрудников дают возможность предложить нашим клиентам сервис высокого уровня.
				br
				br
				div class="row"
					div class="col-sm-6"
						div class="img-wrap"
							img src="img/service-1.jpg"
							div class="img-title"
								h3 Авиабилеты
						ul class="list-unstyled list-custom"
							li любые направления
							li регулярные и чартерные рейсы
							li спецпредложения
							li малобюджетные авиакомпании
					div class="col-sm-6"
						div class="img-wrap"
							img src="img/service-2.jpg"
							div class="img-title"
								h3 Железнодорожные билеты
						ul class="list-unstyled list-custom"
							li РЖД, включая международные переезды
				div class="row"
					div class="col-sm-6"
						div class="img-wrap"
							img src="img/service-3.jpg"
							div class="img-title"
								h3  Индивидуальный туристический отдых
						ul class="list-unstyled list-custom"
							li гостиницы в любой точке мира
							li экскурсии
							li трансферы
							li помощь при оформлении виз в страны Шенгенского Соглашения и ОАЭ
					div class="col-sm-6"
						div class="img-wrap"
							img src="img/service-4.jpg"
							div class="img-title"
								h3
									|  Страхование
									br
									span class="md" на все случаи путешествия.
			section class="for-clients"
				h3 class="green-bg" Корпоративным клиентам
				p class="lg"
					| Современный бизнес невозможен без четко отлаженных механизмов всего процесса работы предприятия. Мы&nbsp;предлагаем Вам свои услуги по&nbsp;организации деловых поездок.
					br
					| Наши квалифицированные сотрудники предложат Вам комплексное решение всех вопросов, связанных с&nbsp;организацией бизнес поездок, принимая во&nbsp;внимание все нюансы, включая положения корпоративной политики Вашего предприятия, бюджет, временные параметры и&nbsp;особенности клиента.
					br
					br
					| Выбирая корпоративное обслуживание в&nbsp;нашей компании, Вы&nbsp;можете рассчитывать на&nbsp;четкое и&nbsp;качественное выполнение всех условий договора.
				br

			section class="vip"
				h3 class="green-bg" Решение нестандартных задач и VIP обслуживание
				p class="os-semibold lg"
					| Мы&nbsp;делаем сервис действительно индивидуальным. У&nbsp;Вас будет персональный менеджер, который поможет оформить полную программу путешествия и&nbsp;быть &laquo;on-line&raquo; на&nbsp;протяжении всего времени Вашей поездки.
					br
					br
					| Вы&nbsp;можете заказать у&nbsp;нас VIP-зал в&nbsp;любом аэропорту мира. И&nbsp;мы&nbsp;гарантируем Вам:
				br
				ul class="list-unstyled list-custom"
					li комфортабельное размещение вдали от&nbsp;суеты общих залов
					li индивидуальное прохождение регистрации, таможенного и&nbsp;паспортного контроля
					li все для развлечения, в&nbsp;том числе лучшие еда и&nbsp;напитки, WI-FI
					li встреча и&nbsp;индивидуальное сопровождение пассажира или группы гостей по&nbsp;вылету и&nbsp;прилету
					li консультации по&nbsp;вопросам, связанным с&nbsp;работой аэропорта
					li залы для бизнесс встреч и&nbsp;деловых переговоров
			section class="slider"
				div class="swiper-container"
					div class="swiper-wrapper"
						div class="swiper-slide"
							div class="row"
								div class="col-sm-4"
									img src="img/ural-airlines.jpg"
								div class="col-sm-4"
									img src="img/finnair.jpg"
								div class="col-sm-4"
									img src="img/lufthansa.jpg"
								div class="col-sm-4"
									img src="img/rossia.jpg"
								div class="col-sm-4"
									img src="img/turkish-airlines.jpg"
								div class="col-sm-4"
									img src="img/austrian.jpg"
						div class="swiper-slide"
							div class="row"
								div class="col-sm-4"
									img src="img/ural-airlines.jpg"
								div class="col-sm-4"
									img src="img/finnair.jpg"
								div class="col-sm-4"
									img src="img/lufthansa.jpg"
								div class="col-sm-4"
									img src="img/rossia.jpg"
								div class="col-sm-4"
									img src="img/turkish-airlines.jpg"
								div class="col-sm-4"
									img src="img/austrian.jpg"
					h3 Авиа партнеры
					div class="pagination"
			h4 class="os-semibold" С Вами работают специалисты: Ляпустина Юлия, Горных Анна
		div class="col-sm-3"
			aside class="aside"
				section class="benefits"
					h4 Наши преимущества
					div class="benefits-item clearfix"
						img class="pull-left" src="img/prices.png"
						p class="md"
							strong Приятные цены
						p class="xs" при сохранении комфортного полета и удобного времени пересадок
					div class="benefits-item clearfix"
						img class="pull-left" src="img/office.png"
						p class="md"
							strong Офис в центре города с удобной парковкой - Атриум Палас Отель
					div class="benefits-item clearfix"
						img class="pull-left" src="img/pay.png"
						p class="md"
							strong Любая форма  оплаты
					div class="benefits-item clearfix"
						img class="pull-left" src="img/work.png"
						p class="md"
							strong Работаем непосредственно в системах бронирования авиакомпаний
					div class="benefits-item clearfix"
						img class="pull-left" src="img/support.png"
						p class="md"
							strong 24-часовая информационная поддержка
						p class="xs" для постоянных клиентов
					div class="benefits-item clearfix"
						img class="pull-left" src="img/transport.png"
						p class="md"
							strong Перевозка
						p class="xs" несопровождаемых детей, животных, нестандартного багажа и спортивного инвентаря
					div class="benefits-item clearfix"
						img class="pull-left" src="img/bonus.png"
						p class="md"
							strong Ведение бонусных счетов
						p class="xs" авиакомпаний и оформление премиальных билетов

				section class="gift"
					img src="img/gift.png"
					h4 class="img-text" Подарочный сертификат на&nbsp;путешествие
					br
					p
						| Как часто мы мучаемся что же подарить на день рождения близкому человеку, родителям, друзьям или партнеру по работе?
						br
						br
						| Подарочный сертификат номиналом
						br
					ul class="list-unstyled"
						li class="os-semibold"
							span class="lg" 5 000
							|  рублей
						li class="os-semibold"
							span class="lg" 10 000
							|  рублей
						li class="os-semibold"
							span class="lg" 15 000
							|  рублей и
						li class="os-semibold"
							span class="lg" 20 000
							|  рублей
					p class="xs"
						| Владелец карты может как приобрести путешествие на исходную сумму, не превышающую номинал карты, так и оплатить часть путешествия подарочным сертификатом.
					br
					a href="#conect" class="btn btn-block btn-orange" Оставить заявку
					br
					p class="xs"
						| Узнать всю подробную информацию Вы можете по телефону
						span class="no-wrap"
							| + 7 343 359-63-63
				section class="compliments"
					h4 class="h-borded semibold" Комплименты от Данмакс
					br
					p class="os-semibold"
						| Нашим постоянным клиентам мы дарим пробное бесплатное занятие в&nbsp;специализированной студии&nbsp;&mdash; &laquo;Территория Йоги &laquo;Мудра&raquo;.
					img src="img/yoga.jpg"
					a href="" Сайт...
				section class="requisites"
					h4 class="h-borded semibold" Реквизиты фирмы
					br
					p
						| Общество с ограниченной ответственностью &laquo;Данмакс&raquo;
						br
						br
						| ИНН 6679041079
						br
						| КПП 667901001
						br
						br
						| Р/с 40702810716540005924
						br
						| ОАО &laquo;Сбербанк России&raquo;
						br
						| К/с 30101810500000000674
						br
						| БИК 046577674


